<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.lightuml.core"
   name="LightUML"
   version="1.2.7"
   class="org.lightuml.core.LightUMLCorePlugin"
   
   provider-name="Antti Hakala">

   <runtime>
      <library name="core.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>
</plugin>
